body {
    background-color:#6d6875;
	/* Use a system font, if none are available use an available sans-sarif   font */
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
		Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: url('https://document-export.canva.com/qnSj0/DAE3fwqnSj0/34/thumbnail/0001.png?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAQYCGKMUHWDTJW6UD%2F20220206%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20220206T173820Z&X-Amz-Expires=32712&X-Amz-Signature=d984f4197f7265a7d9567b6ba4f5edca15d93c28a21fd8e2d0f69b0f1b1f0ec8&X-Amz-SignedHeaders=host&response-expires=Mon%2C%2007%20Feb%202022%2002%3A43%3A32%20GMT');
  background-size: cover;
  background-position-x: center;


}

section.board {
  display: grid;
  grid-template-rows: repeat(3, 10vmin);
  grid-template-columns: repeat(3, 10vmin);
  grid-gap: 0vmin;
  margin-left: auto;
  margin-right: auto;
  color: #b5838d;
}

div {
  border: 3px solid #b5838d;
  font-size: 8vmin;
  text-align: center;
  vertical-align: middle;
}

h1 {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  font-family: 'Caveat Brush', cursive;
  font-size: 10vh;
  padding: 0;
  border: none;
  color: #e5989b;
}

h2 {
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: 'Caveat Brush', cursive;
  font-size: 3vh;
  color: #ffcdb2;
}

button {
  background-color: #ffcdb2;
  border: none;
  color: #6d6875;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 3vh;
  margin: 20px 300px;
  cursor: pointer;
  font-family: 'Caveat Brush', cursive;
  border-radius: 15px;
}

h3 {
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 10px;
  margin-top: 0;
  padding-bottom: 10px;
  font-family: "Caveat Brush", cursive;
  color: #e5989b;
  font-size: 7vh;
}