body {
    background-color:#6d6875;
	/* Use a system font, if none are available use an available sans-sarif   font */
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
		Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;

}

section.board {
  display: grid;
  grid-template-rows: repeat(3, 10vmin);
  grid-template-columns: repeat(3, 10vmin);
  grid-gap: 0vmin;
  margin-left: auto;
  margin-right: auto;
  color: #b5838d;
}

div {
  border: 3px solid #b5838d;
  font-size: 8vmin;
  text-align: center;
  vertical-align: middle;
}

h1 {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  font-family: 'Caveat Brush', cursive;
  font-size: 10vh;
  padding: 0;
  border: none;
  color: #e5989b;
}

h2 {
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: 'Caveat Brush', cursive;
  font-size: 6vh;
  color: #ffb4a2;
}

button {
  background-color: #ffcdb2;
  border: none;
  color: #6d6875;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 25px;
  margin: 30px 2px;
  cursor: pointer;
  font-family: 'Caveat Brush', cursive;
}