body {
    background-color:lightpink;
	/* Use a system font, if none are available use an available sans-sarif   font */
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
		Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

section.board {
  display: grid;
  grid-template-rows: repeat(3, 10vmin);
  grid-template-columns: repeat(3, 10vmin);
  grid-gap: 0vmin;
  margin-left: auto;
  margin-right: auto;
}

div {
  border: 3px solid black;
  font-size: 8vmin;
  text-align: center;
  vertical-align: middle;
}

h1 {
  margin-left: auto;
  margin-right: auto;
  font-family: 'Caveat Brush', cursive;
  font-size: 70px;
}

h2 {
  margin-left: auto;
  margin-right: auto;
  font-family: 'Caveat Brush', cursive;
}

button {
  border: none;
  color: rgb(0, 0, 0);
  padding: 10px;
  text-align: center;
  display:inline-block;
  font-size: 16px;
  margin: 150px, 2px;
  cursor: pointer;
}