body {
    background-color:#6d6875;
	/* Use a system font, if none are available use an available sans-sarif   font */
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
		Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: url('https://lh3.googleusercontent.com/KJcViIQHfa2HxkB361rufID_HFgEgNCiIlIBmoTPgn5URx2WJyBRuDEsTq2w0_ZWj4EHVh2VqXudtcodC-S3U4O2qn2DQ3QL5PpH6Ygz5xkKA4y64AYlooeXec0ImXr91Wbw_bBbL8Kqg-YizIbeg1yFdP00G-LTe5QW_b7Yds_pXypd4dbmYrVCKl2ErFq6CB5XmtscE05pm7GqgyseEJHcA4IQ_LjrATUWy0ZuSUac_QoA143w9vruiBYyLKfoiRxzhXMnBMlPNcaxJv1FTK7_npS7lb_RIFmrgelCxELqjpd25C5gTrZFmpPhdScIOUWzSZmIOembaU20lqXLXvMcXsUnVpRuaGexuo-4ooOKGnraQsSRDLu0JcUKiUqlGH8KqheubQstV6nXL7RURhp9gT-sxblMeB-j61EAE3hmPl4_FJ19q0iPJI948VVEcwnl6KUH0yPsBnUMTDSTnsjglgba1uB4BbWXhPZ6IbhkyQTYUcGYuHtEECPNY44B4W6gO7psI5MIA4ALdblqkHcYE5Zws3QkKqoHtc-id3cspEo1X44VL8lCxYlQkfGwKCtK1hAh4TGDEZ9ismn6K-xXpq2Xh2QmsLeB1t2atDzqtvvvzowPPjl8IdZ-qLK9mrtbuBTCjIraUx5P5jheX7oFxHaxD8Uf3GwbTyNoio38LHAfo1JGsPzrc-tqScfKss724iGcvRJ-78OHPfxDbRI=w1033-h582-no?authuser=0');
  background-size: cover;
  background-position-x: center;


}

section.board {
  display: grid;
  grid-template-rows: repeat(3, 10vmin);
  grid-template-columns: repeat(3, 10vmin);
  grid-gap: 0vmin;
  margin-left: auto;
  margin-right: auto;
  color: #b5838d;
}

div {
  border: 3px solid #b5838d;
  font-size: 8vmin;
  text-align: center;
  vertical-align: middle;
}

h1 {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  font-family: 'Caveat Brush', cursive;
  font-size: 10vh;
  padding: 0;
  border: none;
  color: #e5989b;
}

h2 {
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: 'Caveat Brush', cursive;
  font-size: 3vh;
  color: #ffcdb2;
}

button {
  background-color: #ffcdb2;
  border: none;
  color: #6d6875;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 3vh;
  margin: 20px 300px;
  cursor: pointer;
  font-family: 'Caveat Brush', cursive;
  border-radius: 15px;
}

h3 {
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 10px;
  margin-top: 0;
  padding-bottom: 10px;
  font-family: "Caveat Brush", cursive;
  color: #e5989b;
  font-size: 7vh;
}